$colorInactivePagination: #9f9f9f;
$colorActivePagination: #be8cbe;
$colorNumberPagination: #ffffff;

$colorSearchInput: #f0f0f0;
$colorSearchPlaceholder: #c0c0c0;

$cardBack: #2de1af;
$cardLetter: #f5f5f5;
$cardAtributesBack: #5fe6cd;
