*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 80% 10%;
  grid-template-rows: 10% 80% 10%;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  height: 100vh;
  padding: 0% 10%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr);
  grid-template-rows: repeat(4, 1fr);
}

span {
  color: #9f9f9f;
  margin: 0px 10px;
}

/* Search */
.toolbar-title {
  font-size: 70px;
  font-weight: bold;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 15%;
  padding: 0.5% 3% 0.5% 3%;
  border-radius: 20px;
  background: #f0efef;
}

.search-input {
  border: hidden;
  background: #f0efef;
  margin-left: 5%;
}

.search-input::-webkit-input-placeholder {
  color: #c2c0c0;
}

.search-input:-ms-input-placeholder {
  color: #c2c0c0;
}

.search-input::-ms-input-placeholder {
  color: #c2c0c0;
}

.search-input::placeholder {
  color: #c2c0c0;
}

.search-icon {
  margin: 0% 1%;
}

/* Cards */
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #2ce1b0;
  border-radius: 10px;
  padding: 1% 4%;
  margin: 3% 3%;
  color: whitesmoke;
}

.card-image {
  width: 30%;
}

.card-title {
  font-size: 30px;
  margin: 0px 20px 0px 0px;
  font-weight: bold;
}

.card-features {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 45%;
  grid-template-columns: 45% 45%;
  padding: 5% 0%;
}

.card-atributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 15px;
  padding: 5px 5px;
  background: #60e7cc;
}

.card-id {
  padding: 5px 0px;
}

/* Pagination */
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.active {
  border-radius: 50%;
  border: hidden;
  background: #bf8bbf;
  color: white;
  margin: 0px 10px;
}

.page,
.next,
.before {
  border: hidden;
  margin: 0px 10px;
  background: white;
  color: #9f9f9f;
}
/*# sourceMappingURL=style.css.map */
